@{
    ViewBag.Title = "Unos Kompanije";
}

<p>@ViewBag.Poruka</p>

<form method="post">
    <p><label>Name</label></p>
    <input type="text" name="Name" />
    <p><label>About</label></p>
    <input type="text" name="About" />    
    <p><label>Logo</label></p>
    <input type="text" name="Logo" />
    <p><label>Address</label></p>
    <input type="text" name="Address" />
    <p><label>Phone</label></p>
    <input type="text" name="Phone" />
    <br /><br /><br />
    <input type="submit" value="Submit">
</form>

