@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




@Html.ActionLink("Ispis kompanija", "ListOfCompanies", "CompanyOutput")

@Html.ActionLink("Unos Kompanije", "Index", "CompanyInput")



@Html.ActionLink("Ispis kompanije", "ReturnCompany", "CompanyOutput", new { id = "1" }, null)

